<div class="container">
    @for (item of newData; track item.author + item.title) {
        <div class="col-md-3 card-main">
            <h4>{{item.title}}</h4>
            <p>{{item.description.substring(0, 200)}}</p>
            <h5>{{item.publishedAt}}</h5>
            <div class="card">
              <img
                class="card-img-top"
                src={{item.urlToImage}}
                alt="Card image"
                style="width: 50%;height: 20%;"
              />
              <div class="card-body">
                <h6 class="card-title">{{item.author}}</h6>
                <p class="card-text">
                  {{item.content.substring(0, 400).split("[")[0]}}
                </p>
                <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
              </div>
            </div>
          </div>
    } @empty {
    <li>There are no items.</li>
    }
    
</div>
